// Define variables for your color scheme

// For example:
$red: #C32F27;
$blue: #0D6EFD;
$yellow: #F7B538;
$orange: #DB7C26;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F5F5F5;
$dark-orange: #D8572A;
