<div class= "new-reservations">
  <div class= "new-reservation">
    <h1>Faire une nouvelle réservation</h1>
    <%= simple_form_for [@atelier, @reservation] do |f| %>
      <%= f.input :start_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
      <%= f.input :end_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
