/* Style de la bannière */
.banner {
  background-size: cover;
  background-position: center;
  height: 400px;
  text-align: center;
  color: #fff;
  padding: 100px 20px;
}

.banner h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.banner p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.banner-show {
  background-size: cover;
  background-position: center;
  height: 600px;
  text-align: center;
  color: #fff;
  padding: 100px 20px;
}
