.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card {
  width: 350px;
  height: 500px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 300px;
  height: 250px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.card p {
  font-size: 1em;
  margin-bottom: 10px;
}

.card .button {
  display: inline-block;
  padding: 8px 16px; /* Ajustez le padding selon vos besoins */
  text-decoration: none;
  background-color: $orange; /* Assurez-vous que $orange est défini ailleurs dans votre code */
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  margin: -6px;
  width: 150px !important;
}

.card:hover {
  cursor: pointer;
}
/* Style pour les cartes (cards) des ateliers */
.workshops {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}
