.navbar-lewagon {
  justify-content: space-between;
  background: $light-gray;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

nav ul {
  list-style: none;
  background-color: #333;
  text-align: center;
  padding: 10px 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
